@model PetShopProj5by5.Models.Services

<div>
    <h4>Services</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ServiceType }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<link rel="stylesheet" href="~/CSS/Pagina.css" />