@model IEnumerable<PetShopProj5by5.Models.Schedule>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PetID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicesID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PetID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServicesID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppointmentProtocol }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentProtocol }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointmentProtocol })
        </td>
    </tr>
}

</table>
